<h1><%=@pirate.name%>, <%=@pirate.weight%>, <%=@pirate.height%></h1>


<h2><%=@ships[0].name%>, <%=@ships[0].type%>, <%=@ships[0].booty%></h2>

<h2><%=@ships[1].name%>, <%=@ships[1].type%>, <%=@ships[1].booty%></h2>
